* {
    font-family: Arial, Helvetica, sans-serif;
}


html {
    
}

body{
    background-color:rgb(109, 197, 226)
}

#NavBar {
    position: absolute;
    height:25%;
    width:100%;
    top:0px;
    left:0px; 
    background-color: rgb(122, 122, 122);
}


#L1 {
    background-image: url("newLogo.JPG");
    background-size:contain;
    background-position-x: 50%;    
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 25%;
    z-index: 2;
}

#L2 {
    position: absolute;
    top:0px;
    left: 25%;
    height: 100%;
    width: 25%;
    z-index: 2;

}

#L3 {
    position: absolute;
    top:0px;
    left: 50%;
    height: 100%;
    width: 25%;
    z-index: 2;

}

#L4 {
    position: absolute;
    top:0px;
    left: 75%;
    height: 100%;
    width: 25%;
    z-index: 2;

}

.NBS {
    color:black;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(163, 163, 163);
}

.NBST {
   padding: 50px;
}

.NBS:hover {
    background-color: lightgray;
    color:gray;
}
 #Section1{
    position: absolute;
    height:100%;
    width:100%;
    top:25%;
    left:0px; 
    background-color: whitesmoke;
 }

 #Section2{
    position: absolute;
    height:100%;
    width:100%;
    top:125%;
    left:0px; 
    background-color: lightgray;
 }

 #Section3{
    position: absolute;
    height:100%;
    width:100%;
    top:225%;
    left:0px; 
    background-color: white;
 }
 
 footer {
    position: absolute;
    height:15%;
    width:100%;
    top:325%;
    left:0px; 
    background-color: gray;
    text-align: center;
 }